@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  background: url(kepek/bckgrnd.jpg);
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
button {
  width: 100%;
  height: 100%;
}
header {
  text-align: center;
  letter-spacing: 8px;
}
main {
  padding: 20px;
  border-radius: 10px;
  border:.51px solid rgb(56, 9, 40);
  margin: auto;
  max-width: 800px;
  background-color: rgb(100, 114, 116);
}
article img {
  width: 100%;
  border-radius: 10px;
}
#content {
  display: flex;
  align-items: center;
}
.pictureDiv {
  width: 80%;
}
button {
  width: 10%;
  height: 300px;
  background-color: rgb(82, 39, 68);
  color: rgb(201, 240, 243);
  border-radius: 10px;
  margin: 5px;
  
}
footer {
  text-align: center;
  background-color: rgb(155, 188, 190);
  border-radius: 5px;
  width: 200px;
  height: 60px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

}
h1 {
  background-color: rgb(155, 188, 190);
  border-radius: 5px;
padding: 20px;
  width: 400px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
